/**
 * index.scss
 * - Add any styles you want here!
 */
@font-face {
  font-family: amatic;
  src:url(amatic/AmaticSC-Regular.ttf) format("truetype");
}
@font-face {
  font-family: varela;
  src:url(varela-round/VarelaRound-Regular.otf) format("opentype");
}
div {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2.2s; /* Firefox < 16 */
   -ms-animation: fadein 2.2s; /* Internet Explorer */
    -o-animation: fadein 2.2s; /* Opera < 12.1 */
       animation: fadein 2.2s;
}
body {
  background-color: #e9ebff;
}
p {
  font-family: Varela;
  margin-bottom: 3rem;
}
.navbar-brand {
    color: #8dadde;
}
.navbar {
  background-color: #0c0c0c;
  color: #8dadde;
  position: absolute;
  width: 100%;
}
.nav-link{
  color: #8dadde;
}
.navlink:hover {
  color: #1d384d;
}
.navbar-collapse {
  justify-content: flex-end;
}
.jumbotron {
  max-width: 100%;
  max-height: 100%;
  height: 75rem;
  margin: 0em;
  background: #fff;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  margin: 0em;
  padding: 0em;
}


#self {
  margin-top: 7rem;
  margin-left: 7rem;
  width: 28rem;
  border-radius: 50%;
  border: 15px double rgba(141, 173, 222, 0.5);
}

#mesmer{
  margin-top: 10rem;
  margin-bottom: 7rem;
  font-family: amatic;
  font-size: 15rem;

  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
     -o-animation: fadein 3s; /* Opera < 12.1 */
        animation: fadein 3s;
}
#msb{
    margin-top: 10rem;
    font-family: varela;
    font-size: 10rem;

    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 3s; /* Firefox < 16 */
      -ms-animation: fadein 3s; /* Internet Explorer */
       -o-animation: fadein 3s; /* Opera < 12.1 */
          animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.row {
  height: 100%;
}

.left{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#3d231b;
  height : 100%;
  color : #FFF;

}
.right{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#FFF;
  height : 100%;
  color : #3d231b;
}
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 10rem;
  margin-right: 10rem;
  border-style: inset;
  border-width: 1px;
  background-color: #000;
}
.container-fluid {
  width: 100%;
  align-content: center;
}
.myCanvas {
  background-color: #000;
  border-radius: 50%;
  text-align: center;
  font-size: 7rem;
  color: #FFF;
  width: 24rem;
  height: 24rem;
  margin: 0.5rem 2.5rem;
}
.triangle {
  width: 220px;
  height: 220px;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  margin: 4rem;
  margin-top: 10rem;
  margin-bottom: 9rem;
}
#about {
  width: 44%;
  margin-top: 7rem;
  margin-right: 5rem;
  text-align: justify;
}
h3 {
  font-family: amatic;
} 
.service {
  width: 35%;
  border: 5px solid rgba(141, 173, 222, 0.5);
  margin: 6rem;
  padding: 1.5rem;
}