/**
 * index.scss
 * - Add any styles you want here!
 */

body {
  background-color: #e9ebff;
}
.navbar-brand {
    color: #8dadde;
}
.navbar {
  background-color: #0c0c0c;
  color: #8dadde;
  position: absolute;
}
.nav-link{
  color: #8dadde;
}
.navlink:hover {
  color: #1d384d;
}
.navbar-collapse {
  justify-content: flex-end;
}
.jumbotron {
  max-width: 100%;
  max-height: 100%;
  height: 97vh;
  margin: 0em;
  background: #fff;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  margin: 0em;
  padding: 0em;
}
@font-face {
  font-family: amatic;
  src:url(amatic/AmaticSC-Regular.ttf) format("truetype");
}

@font-face {
  font-family: varela;
  src:url(varela-round/VarelaRound-Regular.oft) format("opentype");
}

#self {
  margin-top: 5rem;
  margin-left: 10rem;
  width: 20em;
  border-radius: 50%;
}

#mesmer{
  margin-top: 10rem;
  font-family: amatic;
  font-size: 190px;
  src:url(amatic/AmaticSC-Regular.ttf) format("truetype");

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
}
#msb{
    margin-top: 10rem;
    font-family: varela;
    font-size: 190px;
    src:url(varela-round/VarelaRound-Regular.oft) format("opentype");

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.row {
  height: 100%;
}

.left{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#3d231b;
  height : 100%;
  color : #FFF;

}
.right{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#FFF;
  height : 100%;
  color : #3d231b;
}
